body{
    margin: 0;
}

header {    
    height: 55px;
    text-align: center;
}

.black{
    background: black;
}

.white{
    background: white;
}

.space{
    padding: 30px;
    height: 250px;
}

footer{
    height: 55px;
    background: #fff;
}

.h-250{
    height: 250px;
}

.h-300{
    height: 300px;
}

.w-50{
    width: 50%;
}
.box{
    height: 100%;
    width: calc(25% - 10px);
    float: left;
    margin-right: 10px;
}

.text-middle{
    display: inline;
    vertical-align: middle;
}

.img1{
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img2{
    background-image: url(abstract.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.float{
    float: left;
}