body{
    margin: 0;
}

header {    
    height: 55px;
}

.posfix{
    position: fixed; 
    width: 100%;
}

.font-tangerine{
    font-family: 'Tangerine', cursive;
}

ul{
    list-style-type: none;
    text-decoration: none;
}

li{
    display: inline-block;
    margin-right: 15px;
    color: rgb(0, 110, 255);
}

li:hover{
    color: black;
}

.black{
    background: black;
}

.white{
    background: white;
}

.text-white{
    color: white;
}
.pt-15{
    padding-top: 15px;
}

.pt-2{
    padding-top: 2px;
}

.padding{
    padding: 30px;
}

.h-250{
    height: 250px;
}

.h-500{
    height: 500px;
}

.w-50{
    width: 50%;
}

.box{
    height: 100%;
    width: calc(25% - 30px);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.25), 0 1px 50px 1px rgba(0,0,0,0.02);
    float: left;
    margin-right: 30px;
}

.box-border{
    border: 2px solid none;
    border-radius: 5px;
}

.left-margin{
    margin-left: 30px;
}

.right-margin{
    margin-right: 20px;
}

.top-margin{
    margin-top: 5px;
}

.text-middle{
    text-align: center;
}

.text-left{
    text-align: left;
}

.img1{
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 80% 25%;
    height: 450px;
}

.img2{
    background-image: url(abstract.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img3{
    height: 250px;
    width: 45%;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear-left{
    clear: left;
}

.clear-right{
    clear: right;
}

.padding-50{
    padding-top: 50px;
}

footer{
    height: 55px;
}

.font-hello{
    font-size: 50px;
}

.font-intro{
    font-size: 30px;
}
.margin-box{
    margin: 35px;
}

.box-head{
    font-size: 25px;
}

.box-bot{
    font-size: 20px;
}

.gradient-red{
    background: linear-gradient(110deg, #c62828 60%, #f44336 60%);
}

.gradient-blue{
    background: linear-gradient(110deg, #3700b3 60%, #6200ee 60%);
}

.gradient-white{
    background: linear-gradient(110deg, #9e9e9e 60%, #e0e0e0 60%);
}

.gradient-green{
    background: linear-gradient(110deg, #47a27f 60%, #5fb889 60%);
}

.text-white{
    color: #fff;
}

.text-blue{
    color: #E3F2FD;
}

.box-lines{
    line-height: 32px;
    word-spacing: 2px;
}

.font-tangerine{
    font-family: 'Tangerine', cursive;
}

@media screen and (max-width:550px) and (min-width:50px){
    .hide{
        display: none;
    }

    .box{
        height: calc(25% - 8px);
        width: 100%;
        margin-bottom: 8px;
    }

    .backgroundBox{
        height: 500px;
    }

    .margin-box{
        margin: 15px;
    }

    .box-head{
        font-size: 25px;
    }

    .box-lines{
        line-height: 20px;
    }

}

@media screen and (max-width: 900px) and (min-width: 550px){
    .box-left{
        height: 45%;
        width: calc(50% - 8px);
        float: left;
        margin: 2px;
    }

    .box-right{
        height: 45%;
        width: calc(50% - 8px);
        float: right;
        margin: 2px;
    }

    .backgroundBox{
        height: 500px;
    }

    .margin-box{
        margin: 10px;
    }
    
    .box-head{
        font-size: 25px;
    }

    .box-lines{
        line-height: 32px;
    }
}